name: purchase_log
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.10.7


dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.3.10
  path_provider: ^2.0.15
  intl: ^0.19.0
  url_launcher: ^6.3.2
  css:
    git:
      url: https://github.com/LimbitlessSolutionsInc/css.git
      ref: main
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0



flutter:
  uses-material-design: true
  assets:
    - assets/json/fake_purchase_log.json